.allLoadingDiv{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #d6249f;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 46px;
      left: 56px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 46px;
      left: 56px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 46px;
      left: 56px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -10px;
      left: -5px;
      width: 120px;
      height: 120px;
      opacity: 0;
    }
  }